$main-text: 14px;
$main-font: 'Roboto', Arial, sans-serif;
$heading-font: 'Open Sans', Helvetica, sans-serif;
$main-color: #fff;
$main-font-color: #000;
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1200px;

